---
import "../styles/global.css"
import  Hero  from "../components/Hero.astro"
import Description from "../components/TargetsBenefits.astro"
import UseExtension from "../components/UseExtension.astro"
import LinkDownload from "../components/LinkDownload.astro"

const { currentLocale } = Astro
---

<html lang={ currentLocale }>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Extension-Pair-Programing</title>
	</head>
	<body>
		<LinkDownload/>
		<Hero/>
		<UseExtension/>
		<Description/>
	</body>
</html>

<script>
    const userLang = navigator.language; 
    const langPrefix = userLang.includes('es') ? '/es' : '/en';
    
    if (!window.location.pathname.startsWith(langPrefix)) {
      window.location.href = langPrefix;
    }
  </script>