---
import "../styles/cable.css"
---

<div class="progress-container z-20">
    <div class="cable-container">
        <div class="cable">
          <div class="data "></div>
          <div class="data one"></div>
          <div class="data two"></div>
          <div class="data three"></div>
          <div class="data four"></div>
          <div class="data five"></div>
        </div>
    </div>
</div>
  