---
import VsCodeSVG from "./icons/VsCodeSVG.astro";
import Donwload from "./icons/Donwload.astro"
import "../styles/linkDownload.css"
---

<section class="w-full flex justify-center items-center fixed top-0 z-50">
    <main class=" flex justify-center gap-x-3 items-center w-full h-10 btn-download">
        <VsCodeSVG class="w-5 h-5"/>
        <a href="https://marketplace.visualstudio.com/vscode" class="text-white
        hover:underline base flex gap-x-2" target="_blank">
            Click here to install extension 
        <Donwload class="text-white w-5 h-5"/>
        </a>
    </main>
</section>
