---
import SvgIcon from "./icons/SvgIcon.astro";
import "../styles/logo.css" 
---
<div class="logo">
    <h1 id="main-title" class="text-8xl font-bold flex items-center  title-hero transition-all duration-500">
        <SvgIcon class="w-[100px] h-[100px]" id="icon-logo"/>
    </h1>
</div>
  